*~
#*
*.aux
*.bbl
*.blg
*.log
*.synctex(busy)
*.synctex
*.tex
*.o
*.so
*.out
*.Renviron
*.Rout
*.toc
/cache/*.*
/cache/figs/*.*
/cache/inforeach/*
/tmp/*.*
bak
figure
bm_1
*concordance.tex
.DS_Store
.Rhistory
.Rproj.user
.RData
cache
